@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir-Light.ttf"); }

#main {
      background-image: url('../images/crossword.png')
*/
  background-size: cover; }
  #main .acceuil {
    height: 200vh;
    width: 100%;
    flex-direction: column; }
    #main .acceuil .bouqin-principal {
      height: 550px;
      background-color: rgba(0, 0, 0, 0.4);
      background-position: center bottom;
      background-size: cover;
      display: flex;
      justify-content: space-around;
      align-items: center; 
      background-image: url("../images/book.jpg");
      background-size: cover;
      background-position: 50% 50%;
  }

      .concept-bh {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 1px 1px grey;
      }
      .boite1{
        background-color: rgba(255,255,255,0.1);
        display: flex;
        flex-direction: column;      }
      .boite2{
        background-color: rgba(255,255,255,0.2);
        display: flex;
        flex-direction: column;
      }
      .boite3 {
        background-color: rgba(255,255,255,0.1);
        display: flex;
        flex-direction: column;
      }
      .boite4 {
        background-color: rgba(255,255,255,0.2);
        display: flex;
        flex-direction: column;
      }
    #main .acceuil .info-shop-main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%; }
    #main .acceuil .background-central {
      background-image: url("../images/crossword.png");
      height: 50vh }
      #main .acceuil .background-central .bh-info {
        height: 0vh;
        width: 60%;
        font-family: "Avenir";
        color: #fff; }
        #main .acceuil .background-central .bh-info h1 {
          font-size: 37px;
          text-align: center;
          color: #CB0044; }
        #main .acceuil .background-central .bh-info .decouverte-box {
          color: black;
          font-size: 22px; }
    #main .acceuil .info-shop-subscribe {
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center; }
      #main .acceuil .info-shop-subscribe .button-subscribe {
        border: 2px solid #0088CE;
        background-color: #0088CE;
        width: 25%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px; }
        #main .acceuil .info-shop-subscribe .button-subscribe .button-shop {
          text-decoration: none;
          font-size: 28px;
          font-family: "Avenir"; }
          #main .acceuil .info-shop-subscribe .button-subscribe .button-shop a {
            text-decoration: none;
            color: #fff; }
          #main .acceuil .info-shop-subscribe .button-subscribe .button-shop a:hover {
            font-size: 25px; }
    #main .acceuil .la-partie-boutique {
     /* height: 20vh; */}
      #main .acceuil .la-partie-boutique .la-boutique {
        width: 100%; }
        #main .acceuil .la-partie-boutique .la-boutique h1 {
          text-align: center;
          font-weight: bold;
          font-size: 40px;
          color: #000000;
          letter-spacing: 4px;
          margin: 0 auto;
          padding: 20px 0; }
        #main .acceuil .la-partie-boutique .la-boutique p {
          font-size: 30px;
          text-align: center;
          padding: 0 4% 20px 4%; }
      #main .acceuil .la-partie-boutique .button-shop {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 44px;
        margin-top: 30px
        /*	//display: inline-block */ }
        #main .acceuil .la-partie-boutique .button-shop a {
          border: 2px solid #0088CE;
          text-decoration: none;
          color: #0088CE;
          padding: 0 40px;
          border-radius: 40px;
          letter-spacing: 2px;
          line-height: 44px; }
.wrapper{
    width:100%;
    text-align:center;

}
.content{
    position:absolute;
    top:0px;
    height:500px;
    width:4000px;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    transition:all 2s ease;
    clear:both;
}
.item {
    float:left;
    width:1000px;
    height:200px;
    position:relative;
}
#article1, #article2, #article3, #article4{
    overflow:hidden;
    background:transparent;
    width:1000px;
    height:500px;
    margin:0 auto;
    position:relative;
}
.sliderContainer{
    position:relative;
    height:500px;
    width:1000px;
    overflow:hidden;
}
#article2:target .content, #article3:target .content, #article4:target .content{
    -webkit-transform: translate(-1000px, 0px);
    -moz-transform: translate(-1000px, 0px);
    -o-transform: translate(-1000px, 0px);
    -ms-transform: translate(-1000px, 0px);
    transform: translate(-1000px, 0px);
}
#article3:target .content{
    -webkit-transform: translate(-2000px, 0px);
    -moz-transform: translate(-2000px, 0px);
    -o-transform: translate(-2000px, 0px);
    -ms-transform: translate(-2000px, 0px);
    transform: translate(-2000px, 0px);
}
#article4:target .content{
    -webkit-transform: translate(-3000px, 0px);
    -moz-transform: translate(-3000px, 0px);
    -o-transform: translate(-3000px, 0px);
    -ms-transform: translate(-3000px, 0px);
    transform: translate(-3000px, 0px);
}
#article4 a,#article3 a, #article2 a, #article1 a{
    width:7px;
    height:4px;
    padding:3px 0;
    padding-top:0px;
    position:absolute;
    bottom:10px;
    left:455px;
    color:#636773;
    text-decoration: none;
    text-indent:-5000px;
    background:#636773;
    border: 2px solid #636773;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}
#article2 a{
    left:480px;
}
#article3 a{
    left:505px;
}
#article4 a{
    left:530px;
}
#article1:target> a, #article2:target> a, #article3:target> a, #article4:target> a{
    background:#fff;
    color:#fff;
}
#article1 a:hover,#article2 a:hover ,#article3 a:hover,#article4 a:hover{
  background:#fff;
  border: 2px solid #636773;
}
.item img{
    width:300px;
    height:500px;
}

.mise-en-avant {
  width: 100%;
}
.container-blocks-mise-avant {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.block-mise-avant {
  width: 340px;
  height: 340px;
  display: inline-block;
  margin: 40px 2.5%;
  position: relative;
}

.block-mise-avant img {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transition: opacity .3s
}

.text-appear {
  background-color: rgba(1,52,64,0.6);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  height: 140px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 600;
  text-decoration: uppercase;
  letter-spacing: 4px;
  display: table;
  transition: height .3s, background .3s;
}

.text-appear span {
  display: table-cell;
  vertical-align: middle;
  color: #ffff;
  transition: all .3s;
}
.block-mise-avant a {
  text-decoration: none;
  color: black;
}

.text-appear:hover{
  height: 340px;
}
.btn {
  display: none;
  opacity: 0;
  white-space: nowrap;
}