@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir-Light.ttf"); }

#main {
  background-image: url("../images/book.jpg");
  background-size: cover; }
  #main .acceuil {
    height: 180vh;
    width: 100%;
    flex-direction: column; }
    #main .acceuil .bouqin-principal {
      height: 451px;
      background-color: rgba(0, 0, 0, 0.4);
      background-position: center bottom;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      #main .acceuil .bouqin-principal h1 {
        font-size: 60px;
        font-weight: bold;
        color: #CB0044; }
    #main .acceuil .info-shop-main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 70px; }
    #main .acceuil .background-central {
      background-image: url("../images/crossword.png"); }
      #main .acceuil .background-central .bh-info {
        height: 40vh;
        width: 60%;
        font-family: "Avenir";
        color: #fff; }
        #main .acceuil .background-central .bh-info h1 {
          font-size: 37px;
          text-align: center;
          color: #CB0044; }
        #main .acceuil .background-central .bh-info .decouverte-box {
          color: black;
          font-size: 22px; }
    #main .acceuil .info-shop-subscribe {
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center; }
      #main .acceuil .info-shop-subscribe .button-subscribe {
        border: 2px solid #0088CE;
        background-color: #0088CE;
        width: 25%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px; }
        #main .acceuil .info-shop-subscribe .button-subscribe .button-shop {
          text-decoration: none;
          font-size: 28px;
          font-family: "Avenir"; }
          #main .acceuil .info-shop-subscribe .button-subscribe .button-shop a {
            text-decoration: none;
            color: #fff; }
          #main .acceuil .info-shop-subscribe .button-subscribe .button-shop a:hover {
            font-size: 25px; }
    #main .acceuil .la-partie-boutique .la-boutique {
      width: 100%; }
      #main .acceuil .la-partie-boutique .la-boutique h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #000000;
        letter-spacing: 4px;
        margin: 0 auto;
        padding: 20px 0; }
      #main .acceuil .la-partie-boutique .la-boutique p {
        font-size: 30px;
        text-align: center;
        padding: 0 4% 20px 4%; }
    #main .acceuil .la-partie-boutique .les-livres {
      height: 350px;
      display: flex;
      justify-content: space-around;
      padding-top: 70px; }
      #main .acceuil .la-partie-boutique .les-livres .slider {
        background-color: red;
        height: 300px;
        width: 15%; }
      #main .acceuil .la-partie-boutique .les-livres .img1 {
        background-image: url("../images/giratoire.png"); }
      #main .acceuil .la-partie-boutique .les-livres .img2 {
        background-image: url("../images/essai.png"); }
      #main .acceuil .la-partie-boutique .les-livres .img3 {
        background-image: url("../images/lite.png"); }
      #main .acceuil .la-partie-boutique .les-livres .img4 {
        background-image: url("../images/scifi.png"); }
      #main .acceuil .la-partie-boutique .les-livres .img5 {
        background-image: url("../images/polar.png"); }
    #main .acceuil .la-partie-boutique .button-shop {
      width: 100%;
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 44px;
      /*	//display: inline-block
				    text-decoration: none */ }
      #main .acceuil .la-partie-boutique .button-shop a {
        border: 2px solid #0088CE;
        text-decoration: none;
        color: #0088CE;
        padding: 0 40px;
        border-radius: 40px;
        letter-spacing: 2px;
        line-height: 44px; }
