$primary-color: #CB0044
$secondary-color: #0088CE
$third-color: #FFB612
$forth-color: #7AB800
$font: "Avenir"
$color-text: #fff

@font-face 
  font-family: "Avenir"
  src: url("../font/Avenir-Light.ttf")



.acceuil
	height: 80vh
	width: 100%
	background-image: url('../images/crossword.png')
	flex-direction: column

	.info-shop-main
		display: flex
		justify-content: space-around
		align-items: center
		width: 100%
		margin-top: 70px
		margin-bottom: 70px
		.info-shop
			height: 600px
			width: 200px

			position: relative
			display: flex
			flex-direction: column
			.voir-plus	

				width: 100%
				height: 5vh
				font-size: 15px
				font-family: $font
		
			.example-livre
				width: 200px
				height: 300px
				background-size: cover
				z-index: 3;
				display: flex;
				color: $secondary-color
				font-weight: bold;
				font-size: 20px;
				transition: all 0s ease-in-out
				.hover-text
					display: none
					margin: auto
			.livre1
				background-image: url('../images/lor.jpg')
			.livre3
				background-image: url('../images/lac.jpg')
			.livre2
				background-image: url('../images/sil.jpg')
			.livre4
				background-image: url('../images/inception.jpg')


			.example-livre:hover 
				background-color: rgba(0,0,0,0.4)
				background-blend-mode: darken
				transition: all 0.2s ease-in-out

			.example-livre:hover p 
				display: block
				transition: all 0.2s ease-in-out;

		.bh-info
			height: 50vh
			width: 35%
			font-family: $font
			color: $color-text
			padding: 20px
			h1
				font-size: 37px
				text-align: center
				color: $primary-color
			.decouverte-box-gauche
				margin-top: 50px
				display: flex
				justify-content: fle-start
			.decouverte-box1
				display: flex
				align-items: center
				color: $third-color
				height: 13vh
				width: 35%
				padding: 30px
				margin-left: 20px
				font-size: 25px
				//border-bottom: 2px solid $third-color
			.decouverte-box-droite
				display: flex
				justify-content: flex-end
			.decouverte-box2
				display: flex
				align-items: center
				justify-content: center
				color: $forth-color
				height: 13vh
				width: 35%
				padding: 30px
				margin-right: 20px 
				font-size: 25px
				//border-bottom: 2px solid $forth-color
	.info-shop-subscribe
		width: 100%
		height: 20vh
		display: flex
		justify-content: center
		.button-subscribe
			border: 2px solid $secondary-color
			background-color: $secondary-color
			width: 25%
			height: 15vh
			display: flex
			justify-content: center
			align-items: center
			margin-left: 20px
			.button-shop
				
				text-decoration: none
				font-size: 28px
				font-family: $font
				a
					text-decoration: none
					color: $color-text

				a:hover
					font-size: 25px







		
