/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir-Light.ttf");
}
/* line 15, ../sass/screen.scss */
body {
  font-family: Avenir;
}

/* line 19, ../sass/screen.scss */
header {
  width: 100%;
  height: 100% auto;
  background-color: #013440;
}
/* line 23, ../sass/screen.scss */
header .logoAl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #AB1A25;
  padding: 20px 0px 20px 20px;
}
/* line 30, ../sass/screen.scss */
header .logoAl h1 a {
  font-size: 50px;
  text-decoration: none;
  color: #AB1A25;
}
/* line 35, ../sass/screen.scss */
header .logoAl .connectAl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
/* line 41, ../sass/screen.scss */
header .logoAl .connectAl p {
  font-size: 20px;
  margin-right: 20px;
}

/* line 52, ../sass/screen.scss */
.contactAl {
  background-image: url(../images/biblio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 747px;
}
/* line 58, ../sass/screen.scss */
.contactAl .nomAl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #AB1A25;
  font-size: 30px;
  padding: 20px 0 40px 0;
}
/* line 66, ../sass/screen.scss */
.contactAl .containerAl {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 50px;
}
/* line 72, ../sass/screen.scss */
.contactAl .containerAl .nameAl, .contactAl .containerAl .emailAl, .contactAl .containerAl textarea {
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}
/* line 79, ../sass/screen.scss */
.contactAl .containerAl .nameAl {
  padding-bottom: 15px;
}
/* line 82, ../sass/screen.scss */
.contactAl .containerAl .emailAl {
  padding-bottom: 15px;
}
/* line 84, ../sass/screen.scss */
.contactAl .containerAl .emailAl input {
  width: 300px;
}
/* line 88, ../sass/screen.scss */
.contactAl .containerAl textarea {
  box-shadow: 4px 5px 4px #013440;
  margin-bottom: 15px;
  height: 400px;
  width: 400px;
}
/* line 94, ../sass/screen.scss */
.contactAl .containerAl .sendAl {
  padding-bottom: 15px;
}

/* line 100, ../sass/screen.scss */
.mentionsAl {
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: justify;
}

/* line 111, ../sass/screen.scss */
.nomMentionsAl {
  color: #AB1A25;
  font-size: 30px;
  padding: 20px 0 40px 0;
}

/* line 118, ../sass/screen.scss */
footer {
  margin-bottom: 0;
  width: 100%;
  background-color: #013440;
}
/* line 122, ../sass/screen.scss */
footer .FooterAl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 20px;
}
/* line 129, ../sass/screen.scss */
footer .FooterAl p {
  padding-right: 20px;
}
/* line 131, ../sass/screen.scss */
footer .FooterAl p a {
  text-decoration: none;
  color: #AB1A25;
}
